* {
	margin: 0;
	padding: 0;
	
}

header {
	background: url(city.jpg);
	height: 100vh;
	background-size: cover;
	-webkit-background-size: cover;
	background-position: center center;
	position: relative;
}

.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;	
}

.welcome-text h1 {
	margin-left: center;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 59px;
	font-family: Arial, Helvetica, sans-serif;
}
.welcome-text a{
	margin-left: 44%;
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}

.welcome-text a:hover{
	background: #fff;
	color: #333;
}

